body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 10px;
}

.content {
    min-width: min(800px, 100vw);
}

.wallet-button {
    flex-direction: column;
    width: 100px;
    height: 100px;
    line-height: 10px;

    img {
        width: 48px;
        height: 48px;
    }
}

.asset-selector {
    background-color: #fafafa;
    padding: 1rem;
    border-radius: 6px;
}
